.container
    .row
        .col-sm-12
            %h2 Edit Advert:
            %br
    .row
        .col-sm-12
            = render partial: 'layouts/form_errors', locals: {subject: @accommodation}
    .row
        .col-sm-12
            - if @accommodation.for_sale?
                = render partial: 'form_for_sale'

