.container

    %h2 Create new Selling Advert:
    %br

    = render partial: 'layouts/form_errors', locals: {subject: @accommodation}

    - if @accommodation.for_sale?
        = render partial: 'form_for_sale'

