.container

    %h2 Create new Advert:
    %br
    .row
        .col-md-4.text-center
            %p
                %i.fa.fa-home.fa-5x
            %p
                = link_to 'Selling', new_accommodation_path(type: 'for_sale'), class: 'btn btn-info btn-md'
            %p
                Looking to sell your house, flat, or apartment?
        .col-md-4.text-center
            %p
                %i.fa.fa-building.fa-5x
            %p
                = link_to 'Renting', new_accommodation_path(type: 'for_rent'), class: 'btn btn-info btn-md'
            %p
                Looking to lease your house, flat, or apartment?
        .col-md-4.text-center
            %p
                %i.fa.fa-group.fa-5x
            %p
                = link_to 'Sharing', new_accommodation_path(type: 'for_sharing'), class: 'btn btn-info btn-md'
            %p
                Looking for digs mates? Advertise here!
