.jumbotron.home-tron-search.well
    .container
        .row
            .col-sm-12
                .home-tron-search-inner
                    .row
                        .col-sm-8.col-xs-9(style='text-align: center')
                            .row
                                .col-sm-12.col-sm-offset-1
                                    .input-group
                                        %span.input-group-addon.input-group-addon-text.hidden-xs Find me
                                        = text_field_tag 'search', '', class: 'form-control col-sm-3', placeholder: 'Title / Author / ISBN'

                        .col-sm-4.col-xs-3(style='text-align: center')
                            .row
                                .col-sm-12.pull-right
                                    %button.btn.btn-primary.search-btn
                                        %i.icon-search
                                        Search